body {
	font-family: 'Ubuntu Condensed', sans-serfi;
}


/* login
-------------------------------------------------- */
.login h1 {
	font-weight: bold;
	text-align: center;
}

.login h2 {
	font-size: 1.5em;
	color: #0066ff;
	text-align: center;
}

.login .logo img {
	width: 154px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}


.login form {
  max-width: 450px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  margin-top: 50px;  
}

.login form input {
	background-color: #ffe066;
}



/* home
-------------------------------------------------- */
.home {
	padding-left: 10px;
	padding-right: 10px;
}

.home h1 {
	font-size: 1.7em;
	font-weight: bold;
}

.home h2 {
	font-size: 1.2em;
	color: #0066ff;
}

.home .panel-default>.panel-heading {
	background-color: #ffe066;
}

.home .esquerdo {
	
}

.home table .first {
	font-weight: bold;
	font-size: 1.5em;
	color: #e6c300;
}

.home .rank .cidade {
	font-size: 0.7em;
}

.home table .second {
	font-weight: bold;
	font-size: 1.3em;
	color: #a6a6a6;
}

.home table .third {
	font-weight: bold;
	font-size: 1.1em;
	color: #cc6600;
}



.home .filtros {
	height: 100px;
}

.btn-sq-lg {
  width: 80px !important;
  height: 80px !important;
}

.home .filtros input {
	margin-top: 15px;
}

.home .cidades {
	
}

.home .tabela {
	
}

.home .tabela .pos {
	width: 15px;
}

.home .tabela .nome {
	width: 200px;
}

.home .tabela .pontos {
	width: 15px;
}

.home .tabela .cidade {
	width: 120px;
}

.home .tabela .dia {
	width: 30px;
}

.home .tabela input {
	width: 30px;
	text-align: center;
}


/* footer
-------------------------------------------------- */
.footer img {
	margin-top: 12px;
}

.footer .se7 div {
	padding: 10px;
}

.footer .se7 h1 {
	margin-top: 15px;
	font-size: 1.5em;
	text-align: left;
}

.footer .contato {
	margin-top: 8px;
}

.footer .contato p {
	font-size: 1.3em;
	margin: 0px;
}

.outer {
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block;
}

.se7-text {
	display: inline-block;
	margin: 0 auto;
	font-size: 1em;
	margin-top: 2px;
}

.footer img {
	width: 53;
	height: 30px;
	margin-top: 6px;
	vertical-align: top;
}


.footer .se7 h1 {
	font-size: 1em;
	text-align: left;
	margin-top: 5px;
}

.footer .contato {
	font-size: 1em;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}