<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>JOJEPS - FACIAP JOVENS</title>
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="js/checklist-model.js"></script>

<script type="text/javascript">

  var app = angular.module('app', ['checklist-model']);
  
  app.controller('AppController', function($scope, $http) {
    $scope.users = []
    
    load();
    
    function load() {
    	$scope.participantes = [
    		{
    			"posicao" : 1,
                "nome": "Peter Parker",
                "cidade" : "Maringá",
                "pontos" : "230",
                "sexo" : "M"
    		},
    		{
    			"posicao" : 2,
                "nome": "Tony Stark",
                "cidade" : "Cascavel",
                "pontos" : "220",
                "sexo" : "M"
    		},
    		{
    			"posicao" : 3,
                "nome": "Brian Banner",
                "cidade" : "Campo Mourão",
                "pontos" : "210",
                "sexo" : "M"
    		},
    		{
    			"posicao" : 4,
                "nome": "Mulher Maravilha",
                "cidade" : "Campo Mourão",
                "pontos" : "200",
                "sexo" : "F"
    		},
    		{
    			"posicao" : 5,
                "nome": "Batman",
                "cidade" : "Maringá",
                "pontos" : "190",
                "sexo" : "M"
    		}
    	];
    	
    	
    	$scope.cidades = [
    		"Maringá",
    		"Cascavel",
    		"Campo Mourão"
    	];
    	
    	$scope.cidadesSelecionadas = [
    		"Maringá",
    		"Cascavel",
    		"Campo Mourão"
    	];
    	
     	$scope.nomeFiltro = '';
     	
     	$scope.sexoFeminino = true;
     	$scope.sexoMasculino = true;
     	$scope.sexos = ['M', 'F'];
    	
     	$scope.mulheresBtnClick = function() {
     		var contem = $scope.sexos.some( function(i) {
    			return i === 'F';
    		});
     		
     		if (contem) {
     			$scope.sexos.splice($scope.sexos.indexOf('F'), 1);
     			$scope.sexoFeminino = false;
     		} else {
     			$scope.sexos.push('F');
     			$scope.sexoFeminino = true;
     		}
     		
     	}
    	
     	$scope.homensBtnClick = function() {
     		var contem = $scope.sexos.some( function(i) {
    			return i === 'M';
    		});
     		
     		if (contem) {
     			$scope.sexos.splice($scope.sexos.indexOf('M'), 1);
     			$scope.sexoMasculino = false;
     		} else {
     			$scope.sexos.push('M');
     			$scope.sexoMasculino = true;
     		}
     	}
     	
    	$scope.filtros = function(participante) {
    		var cidadeCorrespondente = $scope.cidadesSelecionadas.some( function(i) {
    			return i === participante.cidade;
    		});
    		
    		
    		var nomeCorrespondente = $scope.nomeFiltro == '' || participante.nome.toLowerCase().includes($scope.nomeFiltro.toLowerCase());
    		
    		var sexoCorrespondente = $scope.sexos.some( function(i) {
    			return i === participante.sexo;
    		});
    		
    		return cidadeCorrespondente && nomeCorrespondente && sexoCorrespondente;
    	}
    	
    	
//     	$http({
//     		method: 'GET',
//     		url: 'participantes'
//     	}).then(function successCalback(response) {
//     		$scope.participantes = response.data;
//     	}, function errorCallback(response) {
//     		console.log(response.statusText);
//     	});
    }
    
  });

</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="css/estilo.css">
<link rel="icon" type="image/png" href="img/favicon.jpg">
</head>

<body ng-app="app" ng-controller="AppController">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="JOJEPS - FACIAP JOVEM" src="img/jojeps-small.jpg" class="pull-left">
        <span class="pull-right">Sistema de controle de pontos</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuário Logado <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="home">
  
  <div class="row">
    <div class="esquerdo col-sm-3">
      <div class="top3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Ranking</h3>
          </div>
          <div class="panel-body">
            <table class="table ranking">
              <tbody>
                <tr ng-repeat="p in participantes|limitTo:3" ng-class="{'first': p.posicao == 1, 'second': p.posicao == 2, 'third': p.posicao == 3}" class="rank">
                  <td>{{p.posicao}}</td>
                  <td>{{p.nome}}<br/><p class="cidade">{{p.cidade}}</p></td>
                  <td>{{p.pontos}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    
      <div class="cidades">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Cidades</h3>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li ng-repeat="c in cidades | orderBy:'nome'">
                <input type="checkbox" checklist-model="cidadesSelecionadas" checklist-value="c"> {{c}} 
              </li>
            </ul>
          </div>
        </div>
      </div>    
    </div>
    
    <div class="conteudo col-sm-9">
      <div class="filtros">
        <div class="col-sm-3">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a href="#" class="btn btn-sq-lg" ng-class="{'btn-danger': sexoFeminino, 'btn-default': sexo != 'F'}" id="mulheresBtn" ng-click="mulheresBtnClick()">
              <i class="fa fa-venus fa-2x"></i><br/><br/>
              Mulheres
            </a>
            <a href="#" class="btn btn-sq-lg" ng-class="{'btn-primary': sexoMasculino, 'btn-default': sexo != 'M'}" id="homensBtn" ng-click="homensBtnClick()">
              <i class="fa fa-mars fa-2x"></i><br/><br/>
              Homens
            </a>
          
          </div>
        </div>
        <div class="col-sm-9">
          <div class="col-md-12">
               <input type="text" ng-model="nomeFiltro" class="form-control input-lg" placeholder="Pesquisa por nome..." />
           </div>
        </div>
      </div>
    
      <div class="tabela">
        <table class="table">
          <thead>
            <tr>
              <th class="pos">Pos.</th>
              <th class="nome">Nome</th>
              <th class="cidade">Cidade</th>
              <th class="pontos">Pontos</th>
              <th class="dia">30/07</th>
              <th>31/07</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in participantes | filter:filtros">
              <td>{{p.posicao}}</td>
              <td>{{p.nome}}</td>
              <td>{{p.cidade}}</td>
              <td>{{p.pontos}}</td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
    
  
    
    
  
  <form class="form-horizontal">
	
  </form>
  
  <footer class="footer center">
    <div class="outer">
      <div class="inner">
        <img alt="Se7 Consultoria" src="img/se7logo.jpg">
        <div class="se7-text text-center">
          Set Consultoria, Soluções <br/>& Treinamentos Empresariais
        </div>
        <p class="contato">Silvio Carvalho - (44) 9 9970-6002 - <a href="http://www.setcons.com.br" target="blank">www.setcons.com.br</a></p>
      </div>
    </div>
  </footer>
  
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>