<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>JOJEPS - FACIAP JOVENS</title>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="js/checklist-model.js"></script>
<script type="text/javascript" src="js/AppController.js"></script>

<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="css/estilo.css">
<link rel="icon" type="image/png" href="img/favicon.jpg">
</head>

<body ng-app="app" ng-controller="AppController">

<div class="login">
  <div class="logo">
    <img alt="" src="img/jojeps.jpg">
  </div>
  <h1>Sistema de controle de pontos</h1>
<!--   <h2>JOJEPS - FACIAP JOVEM</h2> -->
  
  
  <form class="form-horizontal">
    
	<div class="form-group">
	  <label for="inputUsuario" class="col-sm-2 control-label" >Usuário</label>
	  <div class="col-sm-10">
	    <input name="username" type="text" class="form-control" id="inputUsuario" placeholder="Nome de usuário" ng-model="username">
	  </div>
	</div>
	<div class="form-group">
	  <label for="inputSenha" class="col-sm-2 control-label">Senha</label>
	  <div class="col-sm-10">
	    <input name="password" type="password" class="form-control" id="inputSenha" placeholder="Senha" ng-model="password">
	  </div>
	</div>
	<div class="form-group">
	  <div class="col-sm-offset-2 col-sm-10">
	  	<button class="btn btn-primary" ng-click="login()">Acessar</button>
	  </div>
	</div>
  
  </form>
  
  <footer class="footer center">
    <div class="outer">
      <div class="inner">
        <img alt="Se7 Consultoria" src="img/se7logo.jpg">
        <div class="se7-text text-center">
          Set Consultoria, Soluções <br/>& Treinamentos Empresariais
        </div>
        <p class="contato">Silvio Carvalho - (44) 9 9970-6002 - <a href="http://www.setcons.com.br" target="blank">www.setcons.com.br</a></p>
      </div>
    </div>
  </footer>
  
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>